<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <title>RICOH THETA Shell and API Tests</title>
</head>
<body>
        <h1>RICOH THETA Shell and API Tests</h1>
        Must have exiftool and ImageMagick installed on system as well as images.
        For the THETA API test, you must have the THETA connected to your 
        workstation or laptop with Wi-Fi.
        <ul>
            <li><a href="{% url 'exif' %}">exif data</a></li>
            <li><a href="{% url 'watermark' %}">ImageMagick Watermark</a></li>
            <li><a href="{% url 'theta' %}">THETA API test</a></li>
        </ul>
    
</body>
</html>


